
/* logotipo*/

.logotipo{
    width: 100px;
    height: auto;
    
}

/*boton del menu*/
.navbar-toggler{
    margin: 15px;
}

/* elementos del menu*/
.nav-item{
    margin: 10px;
}

.espacio{
    padding: 10px 0;
}

footer{
    background-color:black;
    padding: 100px 0;
    text-align: center;
}

.footer-redes{
    padding: 0 15px;
}

footer .logotipo-footer{
    width: 200px;
    margin-bottom: 20px;
}

footer h2{
    color: antiquewhite;
}

footer p{
    color: antiquewhite;
    font-size: 14px;
}

/*titulo del mapa*/

.mapa-tittle{
    margin-top: 30px;
    text-align: center;
    

}

/*mapa*/

.mapa{
    border: 2px solid burlywood;
}